<form action="http://127.0.0.1:5000/prediction" method="POST">

    <div>
        <label>Age</label>
        <input
            type="text"
            id="Age"
            name="Age"
            placeholder="Enter age of patient"
        /> 
    </div>
    <br>
    <div>
        <label>Gender</label>
        <input
            type="text"
            id="Gender"
            name="Gender"
            placeholder="Enter Gender of patient"
        /> 
    </div>
    <br>
    <div>
        <label>Air Pollution</label>
        <input
            type="text"
            id="Air Pollution"
            name="Air Pollution"
            placeholder="Enter Air Pollution "
        /> 
    </div>
    <br>
    <div>
        <label>Alcohol use</label>
        <input
            type="text"
            id="Alcohol use"
            name="Alcohol use"
            placeholder="Enter Alcohol use of patient"
        /> 
    </div>
    <br>
    <div>
        <label>Dust Allergy</label>
        <input
            type="text"
            id="Dust Allergy"
            name="Dust Allergy"
            placeholder="Enter Dust Allergy of patient"
        /> 
    </div>
    <br>
    <div>
        <label>OccuPational Hazards</label>
        <input
            type="text"
            id="OccuPational Hazards"
            name="OccuPational Hazards"
            placeholder="Enter OccuPational Hazards of patient"
        /> 
    </div>
    <br>
    <div>
        <label>Genetic Risk</label>
        <input
            type="text"
            id="Genetic Risk"
            name="Genetic Risk"
            placeholder="Enter Genetic Risk of patient"
        /> 
    </div>
    <br>
    <div>
        <label>chronic Lung Disease</label>
        <input
            type="text"
            id="chronic Lung Disease"
            name="chronic Lung Disease"
            placeholder="Enter chronic Lung Disease of patient"
        /> 
    </div>
    <br>
    <div>
        <label>Balanced Diet</label>
        <input
            type="text"
            id="Balanced Diet"
            name="Balanced Diet"
            placeholder="Enter Balanced Diet of patient"
        />
    </div>
    <br>
    <div>
        <label>Obesity</label>
        <input
            type="text"
            id="Obesity"
            name="Obesity"
            placeholder="Enter Obesity of patient"
        />
    </div>
    <br>
    <div>
        <label>Smoking</label>
        <input
            type="text"
            id="Smoking"
            name="Smoking"
            placeholder="Enter Smoking of patient"
        />
    </div>
    <br>
    <div>
        <label>Passive Smoker</label>
        <input
            type="text"
            id="Passive Smoker"
            name="Passive Smoker"
            placeholder="Enter Passive Smoker of patient"
        />
    </div>
    <br>
    <div>
        <label>Chest Pain</label>
        <input
            type="text"
            id="Chest Pain"
            name="Chest Pain"
            placeholder="Enter Chest Pain of patient"
        />
    </div>
    <br>
    <div>
        <label>Coughing of Blood</label>
        <input
            type="text"
            id="Coughing of Blood"
            name="Coughing of Blood"
            placeholder="Enter Coughing of Blood of patient"
        />
    </div>
    <br>
    <button type="submit">Get Prediction</button>
</form>